:root {
    --vh: 1rem;
    --gray: #f2f0f1;
    --white: #fff;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: var(--gray);
    border-radius: 20px;
}

html {
    background-color: var(--gray);
    overflow-y: auto;
}

.app {
    height: calc(100 * var(--vh));

    display: grid;
    grid-template-rows: 4rem 1fr 5rem;
    grid-template-areas:
        'header'
        'main'
        'navbar';
}

.header {
    grid-area: header;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside {
    grid-area: navbar;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.aside-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.aside-item:hover,
.aside-item.is-active {
    background-color: #fafafa;
}

.aside-item-text {
    color: #4a4a4a;
}

.aside-item img {
    width: 32px;
    height: 32px;
}

.main {
    grid-area: main;
    overflow-y: auto;
}

@media screen and (max-width: 769px) {
    .movement {
        flex-direction: column;
        align-items: stretch;
    }

    .movement img {
        max-width: 48px;
    }

    .movement .level-left {
        flex-grow: 0;
    }

    .movement .level-left,
    .movement .level-right {
        justify-content: space-between;
    }

    .movement .level-item {
        flex-grow: 0 !important;
    }
}

@media screen and (min-width: 769px) {
    .app {
        grid-template-rows: 4rem 1fr;
        grid-template-columns: 200px 1fr;
        grid-template-areas:
            'header header'
            'navbar main';
    }

    .aside {
        margin-top: 0;
        flex-direction: column;
        justify-content: flex-start;
    }

    .aside-item {
        flex-direction: row;
        padding: 1rem;
        margin-right: 0;
    }

    .aside-item-text {
        margin-left: 1rem;
    }

    .main {
        margin-bottom: 1rem;
    }
}

.btn-flotante {
	font-size: 12px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 1px; /* Espacio entre letras */
	background-color: #E91E63; /* Color de fondo */
	padding: 18px 30px; /* Relleno del boton */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

    width: 55px;
    height: 40px;
    -webkit-transition: width 2s, background 1s;
    -moz-transition: width 2s, background 1s;
    -o-transition: width 2s, background 1s;
    transition: width 0.5s, background 1s;
    padding: 10px;
    margin: 10px;
    overflow: auto;
}

.btn-flotante:hover {
	background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    width: 347px;
}

.oculta {
    display: none;
}
.muestra{
    display: block;
}

.btn-flotante:hover .oculta {
    display: block;  
}

.btn-flotante:hover .muestra{
    display: none;    
}

.informacion{
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: large;
}

.titulo-nosotros{
    font-size: xx-large;
    color: white;
}

.titulo-nosotros:hover{
    text-decoration: underline;
    font-weight: 750;
}

.card-nosotros{
    text-align: center; 
    padding: 2%;
}

.integrantes{
    margin-top: 1%;
}

.integrante{
    margin-top: 2%;
    margin-bottom: 2%;
}

.integrante a{
   color: white;
   font-size: large;
}

.integrante a:hover{
    font-weight: 700;
    text-decoration: underline;
 }

.seccion1{
    border-style: solid;
    border-color: blue;
    background-color: darkcyan;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
}

.titulo-integrantes{
    font-size: xx-large;
    color: white;
}

.titulo-integrantes:hover{
    text-decoration: underline;
    font-weight: 700;
}

.repo{
    color: black;
    font-weight: 500;
}

.repo:hover{
    font-weight: 700;
    text-decoration: underline;
    color: blue;
}

.ingreso::before {
    font-weight: negrita;
    color: #48c774;
    content: "+";
}

.egreso::before{
    font-weight: negrita;
    color: #f14668;
    content: "-";
}
.modal-backdrop{
    z-index: 1;
}

.bienvenido{
    font-weight: 500;
    font-size: larger;
}
